.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.App-logo {
  height: 80vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content:  space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: aqua;
  
}

